<div class="">
  <form class="p-5">
    <div class="text-end">
      <a class="btn btn-primary btn-sm my-4 " routerLink="/recourse/add">add resource</a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col" sortable="name">name</th>
          <th scope="col" sortable="name">image</th>
          <th scope="col" sortable="area">resourceType</th>
          <th scope="col" sortable="population">available time</th>
          <th scope="col" sortable="population">active</th>
          <th scope="col" sortable="population">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources$|async;let i =index">
          <td scope="row">{{ resource.id }}</td>
          <td><ngb-highlight [result]="resource.name"></ngb-highlight></td>
          <td><img [src]=" resource.image||'assets/images/user-profile-avatar.png' " width="30"
              class="me-2 rounded-circle image-fluid"></td>
          <td><ngb-highlight [result]="resource.resourceType "></ngb-highlight></td>
          <td><ngb-highlight [result]="resource.supplierAvailable +' '+resource.type"></ngb-highlight></td>
          <td>{{resource.active}}</td>
          <td routerLink="/recourse/{{resource.id}}"><button class="btn btn-sm btn-info">edit</button></td>

        </tr>
      </tbody>
    </table>

  </form>
</div>