<div class="row m-sm-3 supplier" [formGroup]="supplierForm">
    <div class="col-sm-6 mt-2">
        <div class="card mb-4 p-3">

            <div class="card-body">

                <div class="input-group gap-3 align-items-center">

                    <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden id="upload-img"
                        class="col-9">
                    <label for="upload-img" class="col-sm-1 col-2 cursor-pointer">

                        <img [src]="imageData||'assets/images/user-profile-avatar.png'" class="rounded-circle img-fluid"
                            alt="User Avatar" style="width: 65px;height: 65px !important;">
                        <!-- <img *ngIf="imageData" [src]="imageData" alt="Selected Image"> -->
                    </label>
                    <div class="col-9">
                        <label for="user-name" class="mb-2"><small class="text-muted">
                                {{'MANAGE_RESOURCE.SUPPLIER_DT.SUPPLIER_NAME'|translate}}</small></label>
                        <input type="text" formControlName="name" class="form-control" id="user-name">
                    </div>
                </div>
            </div>
        </div>
        <div class="card resource-type">

            <div class="card-body" style="font-size: smaller;">

                <small class="text-muted pe-2"> {{'MANAGE_RESOURCE.SUPPLIER_DT.CHOOSE_RESOURCE_TYPE'|translate}}</small>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="resourceType" type="radio" name="resourceType"
                        id="inlineRadio1" value="during_day">
                    <label class="form-check-label" for="inlineRadio1">
                        {{'MANAGE_RESOURCE.SUPPLIER_DT.BOOK_DURING_THE_DAY'|translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="resourceType" type="radio" name="resourceType"
                        id="inlineRadio2" value="duration">
                    <label class="form-check-label"
                        for="inlineRadio2">{{'MANAGE_RESOURCE.SUPPLIER_DT.BOOK_DURATION'|translate}}
                        <span class="text-muted">({{'MANAGE_RESOURCE.SUPPLIER_DT.MORE_THAN_ONE_DAY'|translate}})</span>
                    </label>
                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-6 mt-2">
        <div class="card">
            <div class="card-body">
                <label for="user-name" class="mb-2"><small class="text-muted text-end">
                        {{'MANAGE_RESOURCE.SUPPLIER_DT.SUPPLIER_IS_AVAILABLE_FOR'|translate}}</small></label>
                <div class="input-group mb-3">
                    <input type="number" formControlName="supplierAvailable" class="form-control counter"
                        style="direction: rtl;" min="0">
                    <ng-select class="col-3" formControlName="type">
                        <ng-option>{{'MANAGE_RESOURCE.SUPPLIER_DT.DAY'|translate}}</ng-option>
                        <ng-option>{{'MANAGE_RESOURCE.SUPPLIER_DT.MONTH'|translate}}</ng-option>
                        <ng-option>{{'MANAGE_RESOURCE.SUPPLIER_DT.YEAR'|translate}}</ng-option>
                    </ng-select>
                </div>

                <div class="small-font my-1">

                    <small class="text-muted pe-2"> {{'MANAGE_RESOURCE.SUPPLIER_DT.TIME'|translate}}

                    </small>
                    <div class="d-lg-flex gap-2 align-items-center">
                        <div class="form-check form-check-inline col-lg-3 my-2">
                            <input class="form-check-input" type="radio" formControlName="supplierTime" name="supplierTime"
                                id="inlineRadio1" value="service_time">
                            <label class="form-check-label" for="inlineRadio1">
                                <img src="../../../../../assets/images/box-time.png" class="me-2" width="15" alt="">
                                <small>{{'MANAGE_RESOURCE.SUPPLIER_DT.SERVICE_TIME'|translate}}</small></label>
                        </div>
                        <div class="form-check form-check-inline col-lg-5 my-2">
                            <input class="form-check-input" type="radio" name="supplierTime" formControlName="supplierTime"
                                id="inlineRadio2" value="fixed">
                            <label class="form-check-label" for="inlineRadio2">
                                <img src="../../../../../assets/images/clock.png" class="me-2" width="15" alt="">
                                <small>{{'MANAGE_RESOURCE.SUPPLIER_DT.FIXED_TIME'|translate}}</small>
                            </label>
                        </div>
                        <div class="d-flex position-relative counter-input col-lg-3 my-2"
                            *ngIf="supplierForm.value.supplierTime=='fixed'">
                            <span class="input-group-btn position-absolute decrement">
                                <button class="btn btn-sm btn-primary" (click)="decrement()">-</button>
                            </span>
                            <div class="form-control text-center counter-div">
                                {{supplierForm.value.fixedTime}}
                                {{'MANAGE_RESOURCE.SUPPLIER_DT.MINUTE'|translate}} 
                            </div>
                            <span class="input-group-btn position-absolute increment">
                                <button class="btn btn-sm btn-primary" (click)="increment()">+</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="small-font my-1">

                    <small class="text-muted pe-2"> {{'MANAGE_RESOURCE.SUPPLIER_DT.MULTI_BOOKING'|translate}}
                        <img src="../../../../../assets/images/Group 1000009920.png" width="15" alt="">
                    </small>
                    <div class="d-lg-flex gap-2 align-items-center">
                        <div class="form-check form-check-inline col-lg-3 my-2">
                            <input class="form-check-input" type="radio" name="booking" formControlName="booking"
                                id="inlineRadio1" value="single">
                            <label class="form-check-label" for="inlineRadio1">
                                <img src="../../../../../assets/images/Vector (4).png" class="me-2" width="15" alt="">
                                <small>{{'MANAGE_RESOURCE.SUPPLIER_DT.SINGLE_BOOKING'|translate}}</small></label>
                        </div>
                        <div class="form-check form-check-inline col-lg-5 my-2">
                            <input class="form-check-input" type="radio" name="booking" formControlName="booking"
                                id="inlineRadio2" value="multi">
                            <label class="form-check-label" for="inlineRadio2">
                                <img src="../../../../../assets/images/Group 1000009043.png" class="me-2" width="15"
                                    alt="">
                                <small>{{'MANAGE_RESOURCE.SUPPLIER_DT.BOOKING_MORE'|translate}}</small>
                            </label>
                        </div>
                        <div class="col-lg-3 my-2">

                            <input *ngIf="supplierForm.value.booking=='multi'" type="number" min="2"
                                class="form-control" id="" formControlName="bookingMulti">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>