/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'assets/css/ar.scss';
@import 'assets/css/en.scss';
  


.small-font{
  font-size:smaller;
}
.ng-select.ng-select-single .ng-select-container {
  background-color: aliceblue;
}
.ng-value{
  margin: auto;
}